@font-face {
	font-family: 'Annabelle';
	src: url(../../assets/fonts/Annabelle.woff2) format('woff2'),
	url(../../assets/fonts/Annabelle.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}