@font-face {
	font-family: 'Beringin';
	src: url(../../assets/fonts/Beringin.woff2) format('woff2'),
	url(../../assets/fonts/Beringin.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}