body {
  background: var(--bs-gray);
}
body h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 46px;
}
body h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}
body h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
}
body h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}
body p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
body .btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: white;
  background: black;
  border-radius: 0;
}
body header p {
  font-family: "Annabelle";
  font-size: 46px;
  color: white;
}
body .heading {
  color: white;
}
body .heading h3:first-child {
  font-style: italic;
  letter-spacing: 4px;
}
body .heading h3:last-child {
  font-family: "Annabelle";
  font-size: 26px;
  font-weight: bold;
  text-shadow: 2px 3px 3px var(--bs-gray-500);
}
body .content {
  background: white;
  border-radius: 20px;
}
body .content .hero-blog {
  color: black;
}
body .content .hero-blog p {
  color: var(--bs-gray-700);
}
body .content .hero-blog:nth-child(4) {
  background: var(--bs-body-color);
  color: white;
}
body .content .hero-blog:nth-child(4) p {
  color: white;
}
body .content .hero-blog:nth-child(4) p:first-child {
  font-style: italic;
}
body .content .features {
  background: var(--bs-body-color);
  color: white;
}
body .content .logos-album {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 125px;
}
body .content .logos-album img {
  height: 100%;
}
body .content .cards .img-bg {
  display: flex;
  align-items: end;
  background: var(--bs-gray-500);
  height: 150px;
}
body .content .cards .img-bg p {
  letter-spacing: 1px;
  margin-left: 1rem;
  padding: 0 10px;
  background: black;
  color: white;
}
body .content .contacts input,
body .content .contacts textarea {
  background: var(--bs-gray-100);
}
body .content .contacts textarea {
  min-height: 250px;
}