$blogtextColor1: white;
$blogtextColor2: black;

$lightColor: var(--bs-gray-100);
$lightColor1: var(--bs-gray-500);
$lightColor2: var(--bs-gray-700);

$darkColor: var(--bs-body-color);

$annabelleFont: "Annabelle";
$beringinFont: "Beringin";
$timesNewRomanFont: "Times New Roman", Times, serif;
